:root {
  --white-color: #ffffff;
  --black-color: #222222;
  --mode1-box-color: #ccc7bf;
  --mode1-main-color: #2b2d42;
  --mode2-box-color: #ebc999;
  --mode2-main-color: #4d3227;
  --mode3-box-color: #ffb8b1;
  --mode3-main-color: #993441;
  --mode4-box-color: #cccccc;
  --mode4-main-color: #f18805;
}

* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular";
  font-size: 25px;
}

.modes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* justify-items: center; */
  width: 350px;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

.mode-title {
  padding-right: 10px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
}

.active {
  width: 25px;
  height: 25px;
}

.circle:hover {
  border: 2px solid var(--white-color);
}

.dark {
  background-color: var(--mode1-main-color);
  border: 2px solid var(--mode1-main-color);
}

.chocolate {
  background-color: var(--mode2-main-color);
  border: 2px solid var(--mode2-main-color);
}

.maroon {
  background-color: var(--mode3-main-color);
  border: 2px solid var(--mode3-main-color);
}

.orange {
  background-color: var(--mode4-main-color);
  border: 2px solid var(--mode4-main-color);
}

.calculator-box {
  background-color: var(--mode1-box-color);
  border: 1px solid var(--mode1-main-color);
  width: 350px;
  height: 500px;
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.display {
  width: 94%;
  height: 20%;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  border: 1px solid var(--mode1-main-color);
  color: #222222;
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px 10px 0px 10px;
  /* direction: ltr; */
}

.input {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  overflow: hidden;
  /* text-align: left; */
  /* display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  direction: ltr; */
}

.output {
  text-align: left;
}

.number-grid {
  width: 94%;
  height: 80%;
  display: grid;
  gap: 4%;
  margin-bottom: 4%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 5px;
}

.number-grid > div {
  background-color: var(--mode1-main-color);
  border: 3px solid var(--mode1-main-color);
  text-align: center;
  border-radius: 10px;
  color: var(--white-color);
  font-weight: 600;
}

.basic-buttons {
  padding: 13px 0;
}

.equal-button {
  grid-column-start: 4;
  grid-row: 4 / 6;
  padding: 48px 0;
}

.number-grid > div:hover {
  border-color: var(--white-color);
}
