* {
  box-sizing: border-box;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular";
  font-weight: 400;
}

.calculator-box {
  background-color: #fbd4f8;
  border: 1px solid #fb8fb7;
  width: 400px;
  height: 550px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.display {
  width: 94%;
  height: 20%;
  display: flex;
  flex-direction: column;
  background-color: #fffcf2;
  border: 1px solid #f3c4d3;
  margin: 4% 0;
  border-radius: 5px;
}

.input {
  height: 50%;
  text-align: left;
  padding: 10px;
}

.output {
  height: 50%;
  text-align: right;
  padding: 10px;
}

.number-grid {
  width: 94%;
  height: 80%;
  display: grid;
  gap: 4%;
  margin-bottom: 4%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 5px;
}

.number-grid > div {
  background-color: #faa5c4;
  border: 2px solid #fb8fb7;
  text-align: center;
  border-radius: 2px;
}

.number-grid > div:not(.button-equal) {
  padding: 20% 0;
}

.button-equal {
  grid-column-start: 4;
  grid-row: 4 / 6;
  padding: 65% 0;
}
